<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - ResumeApp.UI</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'" />
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
    </noscript>
    <link href="css/css/font-awesome/css/all.min.css?ver=1.2.1" rel="stylesheet">
    <link href="css/css/mdb.min.css?ver=1.2.1" rel="stylesheet">
    <link href="css/css/aos.css?ver=1.2.1" rel="stylesheet">
    <link href="css/css/main.css?ver=1.2.1" rel="stylesheet">
    <noscript>
        <style type="text/css">
            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
        </style>
    </noscript>
</head>
<body class="bg-light" id="top">
    <header class="d-print-none">        
        <div class="container text-center text-lg-left">
            <div class="pt-4 clearfix">                
                <h1 class="site-title mb-0">Gamze YILDIZ</h1>
                <div class="site-nav">
                    <nav role="navigation">
                        
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="#about" title="About"><span class="menu-title">@ViewData["About"]</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#skills" title="Skills"><span class="menu-title">@ViewData["Skills"]</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#experience" title="Experience"><span class="menu-title">@ViewData["Experience"]</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#education" title="Education"><span class="menu-title">@ViewData["Education"]</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#portfolio" title="Portfolio"><span class="menu-title">@ViewData["Portfolio"]</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#references" title="References"><span class="menu-title">@ViewData["References"]</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact" title="Contact"><span class="menu-title">@ViewData["Contact"]</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer class="pt-4 pb-4 text-muted text-center d-print-none">
        <div class="container">
            <div class="my-3">
                <div class="h4">Gamze YILDIZ</div>
                <div class="footer-nav">
                    <nav role="navigation">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="https://twitter.com/templateflip" title="Twitter"><i class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.facebook.com/templateflip" title="Facebook"><i class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.instagram.com/templateflip" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/templateflip" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="text-small">
                <div class="mb-1">&copy; Gamze. @ViewData["All rights reserved."]</div>
                <div>Design - <a href="https://templateflip.com/" target="_blank">TemplateFlip</a></div>
            </div>
        </div>
    </footer>
    <script src="js/scripts/mdb.min.js?ver=1.2.1"></script>
    <script src="js/scripts/aos.js?ver=1.2.1"></script>
    <script src="js/scripts/main.js?ver=1.2.1"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
